<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_k1mOYLgEEei5DIAXg44geg" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;in event leftButton&#xA;in event rightButton&#xA;in event sideButton&#xA;&#xA;out event startPlaying&#xA;out event startPause&#xA;out event resumePlaying&#xA;out event startStop&#xA;out event reset&#xA;out event updateCounter&#xA;out event updateDisplay&#xA;out event sidePressed&#xA;out event sideIdle&#xA;&#xA;var i:integer" name="default">
    <regions xmi:id="_k1m1ebgEEei5DIAXg44geg" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_k1nchrgEEei5DIAXg44geg">
        <outgoingTransitions xmi:id="_k1oqr7gEEei5DIAXg44geg" target="_AMdZcMh6EeiJu4OPlhtZ3Q"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_AMdZcMh6EeiJu4OPlhtZ3Q" name="stopWatch" incomingTransitions="_k1oqr7gEEei5DIAXg44geg">
        <regions xmi:id="_AMenksh6EeiJu4OPlhtZ3Q" name="r1">
          <vertices xsi:type="sgraph:State" xmi:id="_k1oDl7gEEei5DIAXg44geg" name="RESET" incomingTransitions="_vZZkULgEEei5DIAXg44geg _cEo9EMiBEeicSd5svHBm6A">
            <outgoingTransitions xmi:id="_GFlI8ch6EeiJu4OPlhtZ3Q" specification="leftButton &#xA;/raise startPlaying" target="_RXF6MM3wEeiN44Ua76bsRA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_noi3ILgEEei5DIAXg44geg" name="STOP" incomingTransitions="_Js2xoMh6EeiJu4OPlhtZ3Q">
            <outgoingTransitions xmi:id="_vZZkULgEEei5DIAXg44geg" specification="leftButton /raise reset" target="_k1oDl7gEEei5DIAXg44geg"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_aha20MiBEeicSd5svHBm6A">
            <outgoingTransitions xmi:id="_cEo9EMiBEeicSd5svHBm6A" specification="" target="_k1oDl7gEEei5DIAXg44geg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_RXF6MM3wEeiN44Ua76bsRA" name="timerRunning" incomingTransitions="_GFlI8ch6EeiJu4OPlhtZ3Q">
            <outgoingTransitions xmi:id="_Js2xoMh6EeiJu4OPlhtZ3Q" specification="leftButton &#xA;/raise startStop" target="_noi3ILgEEei5DIAXg44geg"/>
            <regions xmi:id="_RXIWcM3wEeiN44Ua76bsRA" name="r1">
              <vertices xsi:type="sgraph:State" xmi:id="_5vSvcMh-EeicSd5svHBm6A" name="timerRunning">
                <regions xmi:id="_5vbSUMh-EeicSd5svHBm6A" name="r1">
                  <vertices xsi:type="sgraph:State" xmi:id="_GFmXLsh6EeiJu4OPlhtZ3Q" specification="" name="RUNNING" incomingTransitions="_GFlI_sh6EeiJu4OPlhtZ3Q _0LM5sM3tEeiN44Ua76bsRA _c5bU8M3wEeiN44Ua76bsRA">
                    <outgoingTransitions xmi:id="_GFnlMMh6EeiJu4OPlhtZ3Q" specification="rightButton /raise startPause" target="_GFkh78h6EeiJu4OPlhtZ3Q"/>
                    <outgoingTransitions xmi:id="_0LM5sM3tEeiN44Ua76bsRA" specification="[i >= 5]&#xA;/raise updateDisplay;&#xA;i = 0" target="_GFmXLsh6EeiJu4OPlhtZ3Q"/>
                  </vertices>
                  <vertices xsi:type="sgraph:State" xmi:id="_GFkh78h6EeiJu4OPlhtZ3Q" name="PAUSED" incomingTransitions="_GFnlMMh6EeiJu4OPlhtZ3Q">
                    <outgoingTransitions xmi:id="_GFlI_sh6EeiJu4OPlhtZ3Q" specification="rightButton /raise resumePlaying" target="_GFmXLsh6EeiJu4OPlhtZ3Q"/>
                  </vertices>
                </regions>
              </vertices>
              <vertices xsi:type="sgraph:Entry" xmi:id="_cMZ24M3wEeiN44Ua76bsRA">
                <outgoingTransitions xmi:id="_c5bU8M3wEeiN44Ua76bsRA" specification="" target="_GFmXLsh6EeiJu4OPlhtZ3Q"/>
              </vertices>
            </regions>
            <regions xmi:id="_RXIWcc3wEeiN44Ua76bsRA" name="r2">
              <vertices xsi:type="sgraph:Entry" xmi:id="_dV-uEM3wEeiN44Ua76bsRA">
                <outgoingTransitions xmi:id="_lhHjgM3wEeiN44Ua76bsRA" specification="" target="_d3OZ8M3wEeiN44Ua76bsRA"/>
              </vertices>
              <vertices xsi:type="sgraph:State" xmi:id="_d3OZ8M3wEeiN44Ua76bsRA" name="COUNTING" incomingTransitions="_iyCOcM3tEeiN44Ua76bsRA _lhHjgM3wEeiN44Ua76bsRA">
                <outgoingTransitions xmi:id="_iyCOcM3tEeiN44Ua76bsRA" specification="after 7ms&#xA;/raise updateCounter; &#xA;i = i + 1" target="_d3OZ8M3wEeiN44Ua76bsRA"/>
              </vertices>
            </regions>
          </vertices>
        </regions>
        <regions xmi:id="_AMenk8h6EeiJu4OPlhtZ3Q" name="r2">
          <vertices xsi:type="sgraph:State" xmi:id="_MumcoMiAEeicSd5svHBm6A" name="IDLE" incomingTransitions="_cmx2QMiAEeicSd5svHBm6A _Xi4pIMiBEeicSd5svHBm6A _7wJlMMiEEeicSd5svHBm6A">
            <outgoingTransitions xmi:id="_VUIvEMiAEeicSd5svHBm6A" specification="sideButton &#xA;/raise sidePressed" target="_OINT4MiAEeicSd5svHBm6A"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_OINT4MiAEeicSd5svHBm6A" name="PRESSED" incomingTransitions="_VUIvEMiAEeicSd5svHBm6A">
            <outgoingTransitions xmi:id="_cmx2QMiAEeicSd5svHBm6A" specification="after 1000ms &#xA;" target="_MumcoMiAEeicSd5svHBm6A"/>
            <outgoingTransitions xmi:id="_7wJlMMiEEeicSd5svHBm6A" specification="sideButton &#xA;/raise sideIdle" target="_MumcoMiAEeicSd5svHBm6A"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_XAGFIMiBEeicSd5svHBm6A">
            <outgoingTransitions xmi:id="_Xi4pIMiBEeicSd5svHBm6A" specification="" target="_MumcoMiAEeicSd5svHBm6A"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_k1m1drgEEei5DIAXg44geg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_k1mOYLgEEei5DIAXg44geg" measurementUnit="Pixel">
    <children xmi:id="_k1m1ergEEei5DIAXg44geg" type="Region" element="_k1m1ebgEEei5DIAXg44geg">
      <children xsi:type="notation:DecorationNode" xmi:id="_k1ncgLgEEei5DIAXg44geg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_k1ncgbgEEei5DIAXg44geg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_k1ncgrgEEei5DIAXg44geg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_k1ncg7gEEei5DIAXg44geg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_k1nch7gEEei5DIAXg44geg" type="Entry" element="_k1nchrgEEei5DIAXg44geg">
          <children xmi:id="_k1oDkLgEEei5DIAXg44geg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_k1oDk7gEEei5DIAXg44geg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_k1oDlLgEEei5DIAXg44geg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_k1oDlbgEEei5DIAXg44geg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_k1oDkbgEEei5DIAXg44geg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k1oDkrgEEei5DIAXg44geg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_k1nciLgEEei5DIAXg44geg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_k1ncibgEEei5DIAXg44geg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k1oDlrgEEei5DIAXg44geg" x="17" y="27" width="15" height="15"/>
        </children>
        <children xmi:id="_AMf1sMh6EeiJu4OPlhtZ3Q" type="State" element="_AMdZcMh6EeiJu4OPlhtZ3Q">
          <children xsi:type="notation:DecorationNode" xmi:id="_AMf1tMh6EeiJu4OPlhtZ3Q" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_AMf1tch6EeiJu4OPlhtZ3Q"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_AMf1tsh6EeiJu4OPlhtZ3Q"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AMf1t8h6EeiJu4OPlhtZ3Q" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_AMf1uMh6EeiJu4OPlhtZ3Q" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AMf1uch6EeiJu4OPlhtZ3Q"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_AMgcwMh6EeiJu4OPlhtZ3Q" type="StateFigureCompartment">
            <children xmi:id="_AMiR8Mh6EeiJu4OPlhtZ3Q" type="Region" element="_AMenksh6EeiJu4OPlhtZ3Q">
              <children xsi:type="notation:DecorationNode" xmi:id="_AMiR88h6EeiJu4OPlhtZ3Q" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_AMiR9Mh6EeiJu4OPlhtZ3Q"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_AMiR9ch6EeiJu4OPlhtZ3Q"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_AMi5AMh6EeiJu4OPlhtZ3Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_k1oqorgEEei5DIAXg44geg" type="State" element="_k1oDl7gEEei5DIAXg44geg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_k1oqprgEEei5DIAXg44geg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_k1oqp7gEEei5DIAXg44geg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_k1oqqLgEEei5DIAXg44geg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_k1oqqbgEEei5DIAXg44geg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_k1oqqrgEEei5DIAXg44geg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k1oqq7gEEei5DIAXg44geg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_k1oqrLgEEei5DIAXg44geg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_k1oqo7gEEei5DIAXg44geg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_k1oqpLgEEei5DIAXg44geg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_k1oqrbgEEei5DIAXg44geg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k1oqrrgEEei5DIAXg44geg" x="2" y="29" width="48" height="53"/>
                </children>
                <children xmi:id="_nokFQLgEEei5DIAXg44geg" type="State" element="_noi3ILgEEei5DIAXg44geg">
                  <children xsi:type="notation:DecorationNode" xmi:id="_nokFRLgEEei5DIAXg44geg" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_nokFRbgEEei5DIAXg44geg"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_nokFRrgEEei5DIAXg44geg"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_nokFR7gEEei5DIAXg44geg" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_nokFSLgEEei5DIAXg44geg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nokFSbgEEei5DIAXg44geg"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_nokFSrgEEei5DIAXg44geg" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_nokFQbgEEei5DIAXg44geg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_nokFQrgEEei5DIAXg44geg"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_noksULgEEei5DIAXg44geg" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nokFQ7gEEei5DIAXg44geg" x="243" y="29" width="42" height="53"/>
                </children>
                <children xmi:id="_ahcsAMiBEeicSd5svHBm6A" type="Entry" element="_aha20MiBEeicSd5svHBm6A">
                  <children xmi:id="_ahcsBMiBEeicSd5svHBm6A" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_ahcsB8iBEeicSd5svHBm6A" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_ahcsCMiBEeicSd5svHBm6A"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_ahdTEMiBEeicSd5svHBm6A"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_ahcsBciBEeicSd5svHBm6A" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ahcsBsiBEeicSd5svHBm6A"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_ahcsAciBEeicSd5svHBm6A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_ahcsAsiBEeicSd5svHBm6A" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ahcsA8iBEeicSd5svHBm6A" x="23" width="15" height="15"/>
                </children>
                <children xmi:id="_RXJkkM3wEeiN44Ua76bsRA" type="State" element="_RXF6MM3wEeiN44Ua76bsRA">
                  <children xsi:type="notation:DecorationNode" xmi:id="_RXKLoM3wEeiN44Ua76bsRA" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_RXKLoc3wEeiN44Ua76bsRA"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_RXKLos3wEeiN44Ua76bsRA"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_RXKysM3wEeiN44Ua76bsRA" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_RXLZwM3wEeiN44Ua76bsRA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RXLZwc3wEeiN44Ua76bsRA"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_RXLZws3wEeiN44Ua76bsRA" type="StateFigureCompartment">
                    <children xmi:id="_RXVKwM3wEeiN44Ua76bsRA" type="Region" element="_RXIWcM3wEeiN44Ua76bsRA">
                      <children xsi:type="notation:DecorationNode" xmi:id="_RXVx0M3wEeiN44Ua76bsRA" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_RXVx0c3wEeiN44Ua76bsRA"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_RXVx0s3wEeiN44Ua76bsRA"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_RXVx083wEeiN44Ua76bsRA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_5v-r8Mh-EeicSd5svHBm6A" type="State" element="_5vSvcMh-EeicSd5svHBm6A">
                          <children xsi:type="notation:DecorationNode" xmi:id="_5wBIMMh-EeicSd5svHBm6A" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_5wBIMch-EeicSd5svHBm6A"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_5wBIMsh-EeicSd5svHBm6A"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_5wBvQMh-EeicSd5svHBm6A" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_5wBvQch-EeicSd5svHBm6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5wBvQsh-EeicSd5svHBm6A"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_5wCWUMh-EeicSd5svHBm6A" type="StateFigureCompartment">
                            <children xmi:id="_H1rbUMh_EeicSd5svHBm6A" type="Region" element="_5vbSUMh-EeicSd5svHBm6A">
                              <children xsi:type="notation:DecorationNode" xmi:id="_H1rbUch_EeicSd5svHBm6A" type="RegionName">
                                <styles xsi:type="notation:ShapeStyle" xmi:id="_H1rbUsh_EeicSd5svHBm6A"/>
                                <layoutConstraint xsi:type="notation:Location" xmi:id="_H1rbU8h_EeicSd5svHBm6A"/>
                              </children>
                              <children xsi:type="notation:Shape" xmi:id="_H1rbVMh_EeicSd5svHBm6A" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                                <children xmi:id="_H1rbVch_EeicSd5svHBm6A" type="State" element="_GFmXLsh6EeiJu4OPlhtZ3Q">
                                  <children xsi:type="notation:DecorationNode" xmi:id="_H1rbVsh_EeicSd5svHBm6A" type="StateName">
                                    <styles xsi:type="notation:ShapeStyle" xmi:id="_H1rbV8h_EeicSd5svHBm6A"/>
                                    <layoutConstraint xsi:type="notation:Location" xmi:id="_H1rbWMh_EeicSd5svHBm6A"/>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_H1rbWch_EeicSd5svHBm6A" type="StateTextCompartment">
                                    <children xsi:type="notation:Shape" xmi:id="_H1rbWsh_EeicSd5svHBm6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_H1rbW8h_EeicSd5svHBm6A"/>
                                    </children>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_H1rbXMh_EeicSd5svHBm6A" type="StateFigureCompartment"/>
                                  <styles xsi:type="notation:ShapeStyle" xmi:id="_H1rbXch_EeicSd5svHBm6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                                  <styles xsi:type="notation:FontStyle" xmi:id="_H1rbXsh_EeicSd5svHBm6A"/>
                                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_H1rbX8h_EeicSd5svHBm6A" name="isHorizontal" booleanValue="true"/>
                                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_H1rbYMh_EeicSd5svHBm6A" x="-36" y="11"/>
                                </children>
                                <children xmi:id="_H1rbYch_EeicSd5svHBm6A" type="State" element="_GFkh78h6EeiJu4OPlhtZ3Q">
                                  <children xsi:type="notation:DecorationNode" xmi:id="_H1rbYsh_EeicSd5svHBm6A" type="StateName">
                                    <styles xsi:type="notation:ShapeStyle" xmi:id="_H1rbY8h_EeicSd5svHBm6A"/>
                                    <layoutConstraint xsi:type="notation:Location" xmi:id="_H1rbZMh_EeicSd5svHBm6A"/>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_H1rbZch_EeicSd5svHBm6A" type="StateTextCompartment">
                                    <children xsi:type="notation:Shape" xmi:id="_H1rbZsh_EeicSd5svHBm6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_H1rbZ8h_EeicSd5svHBm6A"/>
                                    </children>
                                  </children>
                                  <children xsi:type="notation:Compartment" xmi:id="_H1rbaMh_EeicSd5svHBm6A" type="StateFigureCompartment"/>
                                  <styles xsi:type="notation:ShapeStyle" xmi:id="_H1rbach_EeicSd5svHBm6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                                  <styles xsi:type="notation:FontStyle" xmi:id="_H1rbash_EeicSd5svHBm6A"/>
                                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_H1rba8h_EeicSd5svHBm6A" name="isHorizontal" booleanValue="true"/>
                                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_H1rbbMh_EeicSd5svHBm6A" x="140" y="11"/>
                                </children>
                                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_H1rbbch_EeicSd5svHBm6A"/>
                              </children>
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_H1rbbsh_EeicSd5svHBm6A" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_H1rbb8h_EeicSd5svHBm6A"/>
                            </children>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_5v-r8ch-EeicSd5svHBm6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_5v-r8sh-EeicSd5svHBm6A"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5wCWUch-EeicSd5svHBm6A" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5v-r88h-EeicSd5svHBm6A" x="-26" y="94" width="298" height="246"/>
                        </children>
                        <children xmi:id="_cMad8M3wEeiN44Ua76bsRA" type="Entry" element="_cMZ24M3wEeiN44Ua76bsRA">
                          <children xmi:id="_cMbFAM3wEeiN44Ua76bsRA" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_cMbFA83wEeiN44Ua76bsRA" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_cMbFBM3wEeiN44Ua76bsRA"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_cMbFBc3wEeiN44Ua76bsRA"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_cMbFAc3wEeiN44Ua76bsRA" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cMbFAs3wEeiN44Ua76bsRA"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_cMad8c3wEeiN44Ua76bsRA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_cMad8s3wEeiN44Ua76bsRA" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cMad883wEeiN44Ua76bsRA" x="16" y="46"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RXVx1M3wEeiN44Ua76bsRA"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_RXVKwc3wEeiN44Ua76bsRA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RXVKws3wEeiN44Ua76bsRA"/>
                    </children>
                    <children xmi:id="_aftEgM3wEeiN44Ua76bsRA" type="Region" element="_RXIWcc3wEeiN44Ua76bsRA">
                      <children xsi:type="notation:DecorationNode" xmi:id="_aftEgc3wEeiN44Ua76bsRA" type="RegionName">
                        <styles xsi:type="notation:ShapeStyle" xmi:id="_aftEgs3wEeiN44Ua76bsRA"/>
                        <layoutConstraint xsi:type="notation:Location" xmi:id="_aftEg83wEeiN44Ua76bsRA"/>
                      </children>
                      <children xsi:type="notation:Shape" xmi:id="_aftEhM3wEeiN44Ua76bsRA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                        <children xmi:id="_dV_VIM3wEeiN44Ua76bsRA" type="Entry" element="_dV-uEM3wEeiN44Ua76bsRA">
                          <children xmi:id="_dV_8MM3wEeiN44Ua76bsRA" type="BorderItemLabelContainer">
                            <children xsi:type="notation:DecorationNode" xmi:id="_dV_8M83wEeiN44Ua76bsRA" type="BorderItemLabel">
                              <styles xsi:type="notation:ShapeStyle" xmi:id="_dV_8NM3wEeiN44Ua76bsRA"/>
                              <layoutConstraint xsi:type="notation:Location" xmi:id="_dV_8Nc3wEeiN44Ua76bsRA"/>
                            </children>
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_dV_8Mc3wEeiN44Ua76bsRA" fontName="Verdana" lineColor="4210752"/>
                            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dV_8Ms3wEeiN44Ua76bsRA"/>
                          </children>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_dV_VIc3wEeiN44Ua76bsRA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                          <styles xsi:type="notation:NamedStyle" xmi:id="_dV_VIs3wEeiN44Ua76bsRA" name="allowColors"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_dV_VI83wEeiN44Ua76bsRA" x="10" y="43"/>
                        </children>
                        <children xmi:id="_d3PBAM3wEeiN44Ua76bsRA" type="State" element="_d3OZ8M3wEeiN44Ua76bsRA">
                          <children xsi:type="notation:DecorationNode" xmi:id="_d3PoEM3wEeiN44Ua76bsRA" type="StateName">
                            <styles xsi:type="notation:ShapeStyle" xmi:id="_d3PoEc3wEeiN44Ua76bsRA"/>
                            <layoutConstraint xsi:type="notation:Location" xmi:id="_d3PoEs3wEeiN44Ua76bsRA"/>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_d3QPIM3wEeiN44Ua76bsRA" type="StateTextCompartment">
                            <children xsi:type="notation:Shape" xmi:id="_d3QPIc3wEeiN44Ua76bsRA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d3QPIs3wEeiN44Ua76bsRA"/>
                            </children>
                          </children>
                          <children xsi:type="notation:Compartment" xmi:id="_d3Q2MM3wEeiN44Ua76bsRA" type="StateFigureCompartment"/>
                          <styles xsi:type="notation:ShapeStyle" xmi:id="_d3PBAc3wEeiN44Ua76bsRA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                          <styles xsi:type="notation:FontStyle" xmi:id="_d3PBAs3wEeiN44Ua76bsRA"/>
                          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_d3Q2Mc3wEeiN44Ua76bsRA" name="isHorizontal" booleanValue="true"/>
                          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d3PBA83wEeiN44Ua76bsRA" x="53" y="114"/>
                        </children>
                        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aftEhc3wEeiN44Ua76bsRA"/>
                      </children>
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_aftEhs3wEeiN44Ua76bsRA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_aftEh83wEeiN44Ua76bsRA"/>
                    </children>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_RXJkkc3wEeiN44Ua76bsRA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_RXJkks3wEeiN44Ua76bsRA"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_RXLZw83wEeiN44Ua76bsRA" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RXJkk83wEeiN44Ua76bsRA" y="142" width="549" height="430"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AMi5Ach6EeiJu4OPlhtZ3Q"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_AMiR8ch6EeiJu4OPlhtZ3Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AMiR8sh6EeiJu4OPlhtZ3Q"/>
            </children>
            <children xmi:id="_Q_vJYMh6EeiJu4OPlhtZ3Q" type="Region" element="_AMenk8h6EeiJu4OPlhtZ3Q">
              <children xsi:type="notation:DecorationNode" xmi:id="_Q_vJYch6EeiJu4OPlhtZ3Q" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_Q_vJYsh6EeiJu4OPlhtZ3Q"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_Q_vJY8h6EeiJu4OPlhtZ3Q"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_Q_vJZMh6EeiJu4OPlhtZ3Q" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_Mupf8MiAEeicSd5svHBm6A" type="State" element="_MumcoMiAEeicSd5svHBm6A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_MuquEMiAEeicSd5svHBm6A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_MuquEciAEeicSd5svHBm6A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_MuquEsiAEeicSd5svHBm6A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_MuquE8iAEeicSd5svHBm6A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_MuquFMiAEeicSd5svHBm6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MuquFciAEeicSd5svHBm6A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_MuquFsiAEeicSd5svHBm6A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Mupf8ciAEeicSd5svHBm6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_Mupf8siAEeicSd5svHBm6A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MurVIMiAEeicSd5svHBm6A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Mupf88iAEeicSd5svHBm6A" x="89" y="2"/>
                </children>
                <children xmi:id="_OIOiAMiAEeicSd5svHBm6A" type="State" element="_OINT4MiAEeicSd5svHBm6A">
                  <children xsi:type="notation:DecorationNode" xmi:id="_OIPJEMiAEeicSd5svHBm6A" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_OIPJEciAEeicSd5svHBm6A"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_OIPJEsiAEeicSd5svHBm6A"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_OIPJE8iAEeicSd5svHBm6A" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_OIPJFMiAEeicSd5svHBm6A" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OIPJFciAEeicSd5svHBm6A"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_OIPJFsiAEeicSd5svHBm6A" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_OIOiAciAEeicSd5svHBm6A" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_OIOiAsiAEeicSd5svHBm6A"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_OIPJF8iAEeicSd5svHBm6A" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_OIOiA8iAEeicSd5svHBm6A" x="25" y="186"/>
                </children>
                <children xmi:id="_XAHTQMiBEeicSd5svHBm6A" type="Entry" element="_XAGFIMiBEeicSd5svHBm6A">
                  <children xmi:id="_XAIhYMiBEeicSd5svHBm6A" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_XAJIcMiBEeicSd5svHBm6A" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_XAJIcciBEeicSd5svHBm6A"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_XAJIcsiBEeicSd5svHBm6A"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_XAIhYciBEeicSd5svHBm6A" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XAIhYsiBEeicSd5svHBm6A"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_XAHTQciBEeicSd5svHBm6A" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_XAH6UMiBEeicSd5svHBm6A" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_XAH6UciBEeicSd5svHBm6A" x="35" y="6"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q_vJZch6EeiJu4OPlhtZ3Q"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_Q_vJZsh6EeiJu4OPlhtZ3Q" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Q_vJZ8h6EeiJu4OPlhtZ3Q"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_AMf1sch6EeiJu4OPlhtZ3Q" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_AMf1ssh6EeiJu4OPlhtZ3Q"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_AMgcwch6EeiJu4OPlhtZ3Q" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AMf1s8h6EeiJu4OPlhtZ3Q" x="73" y="59" width="748" height="658"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k1nchLgEEei5DIAXg44geg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_k1m1e7gEEei5DIAXg44geg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k1nchbgEEei5DIAXg44geg" x="52" y="12" width="857" height="985"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_k1p4wLgEEei5DIAXg44geg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_k1p4wrgEEei5DIAXg44geg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_k1p4w7gEEei5DIAXg44geg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_k1p4xLgEEei5DIAXg44geg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_k1p4xbgEEei5DIAXg44geg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k1p4xrgEEei5DIAXg44geg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_k1p4x7gEEei5DIAXg44geg" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_k1m1d7gEEei5DIAXg44geg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_k1m1eLgEEei5DIAXg44geg"/>
    <edges xmi:id="_k1pRsLgEEei5DIAXg44geg" type="Transition" element="_k1oqr7gEEei5DIAXg44geg" source="_k1nch7gEEei5DIAXg44geg" target="_AMf1sMh6EeiJu4OPlhtZ3Q">
      <children xsi:type="notation:DecorationNode" xmi:id="_k1pRtLgEEei5DIAXg44geg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_k1pRtbgEEei5DIAXg44geg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_k1pRtrgEEei5DIAXg44geg" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_k1pRsbgEEei5DIAXg44geg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_k1pRs7gEEei5DIAXg44geg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_k1pRsrgEEei5DIAXg44geg" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_G0uIYL1tEeiD1a0hcEiNOg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_xsmCIMhvEeiJu4OPlhtZ3Q" id="(0.09345531498703873,0.009173239409538542)"/>
    </edges>
    <edges xmi:id="_GFm-Ish6EeiJu4OPlhtZ3Q" type="Transition" element="_GFnlMMh6EeiJu4OPlhtZ3Q" source="_H1rbVch_EeicSd5svHBm6A" target="_H1rbYch_EeicSd5svHBm6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_GFm-KMh6EeiJu4OPlhtZ3Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GFm-Ksh6EeiJu4OPlhtZ3Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GFm-Kch6EeiJu4OPlhtZ3Q" x="9" y="14"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GFm-J8h6EeiJu4OPlhtZ3Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GFm-Jsh6EeiJu4OPlhtZ3Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GFm-Jch6EeiJu4OPlhtZ3Q" points="[22, -3, -152, 37]$[141, -3, -33, 37]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GFm-JMh6EeiJu4OPlhtZ3Q" id="(0.6290322580645161,0.8867924528301887)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GFm-I8h6EeiJu4OPlhtZ3Q" id="(0.6666666666666665,0.05660377358490567)"/>
    </edges>
    <edges xmi:id="_GFmXHMh6EeiJu4OPlhtZ3Q" type="Transition" element="_GFlI_sh6EeiJu4OPlhtZ3Q" source="_H1rbYch_EeicSd5svHBm6A" target="_H1rbVch_EeicSd5svHBm6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_GFmXHch6EeiJu4OPlhtZ3Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GFmXHsh6EeiJu4OPlhtZ3Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GFmXH8h6EeiJu4OPlhtZ3Q" x="-7" y="17"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GFmXIMh6EeiJu4OPlhtZ3Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GFmXIch6EeiJu4OPlhtZ3Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GFmXIsh6EeiJu4OPlhtZ3Q" points="[-13, 45, 140, -5]$[-108, 45, 45, -5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GFmXI8h6EeiJu4OPlhtZ3Q" id="(0.2708333333333333,0.05660377358490567)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GFmXJMh6EeiJu4OPlhtZ3Q" id="(0.8870967741935484,0.24528301886792453)"/>
    </edges>
    <edges xmi:id="_vZaLYLgEEei5DIAXg44geg" type="Transition" element="_vZZkULgEEei5DIAXg44geg" source="_nokFQLgEEei5DIAXg44geg" target="_k1oqorgEEei5DIAXg44geg">
      <children xsi:type="notation:DecorationNode" xmi:id="_vZaycLgEEei5DIAXg44geg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vZaycbgEEei5DIAXg44geg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vZaycrgEEei5DIAXg44geg" x="2" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vZaLYbgEEei5DIAXg44geg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vZaLY7gEEei5DIAXg44geg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vZaLYrgEEei5DIAXg44geg" points="[-19, 21, 214, -17]$[-217, 21, 16, -17]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vZcAkLgEEei5DIAXg44geg" id="(0.5238095238095238,0.05660377358490567)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vZcAkbgEEei5DIAXg44geg" id="(0.6458333333333334,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_GFmXJch6EeiJu4OPlhtZ3Q" type="Transition" element="_GFlI8ch6EeiJu4OPlhtZ3Q" source="_k1oqorgEEei5DIAXg44geg" target="_RXJkkM3wEeiN44Ua76bsRA">
      <children xsi:type="notation:DecorationNode" xmi:id="_GFmXJsh6EeiJu4OPlhtZ3Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_GFmXLMh6EeiJu4OPlhtZ3Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_GFmXLch6EeiJu4OPlhtZ3Q" y="-47"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_GFmXJ8h6EeiJu4OPlhtZ3Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_GFmXKMh6EeiJu4OPlhtZ3Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_GFmXKch6EeiJu4OPlhtZ3Q" points="[-12, 34, -64, -206]$[-12, 255, -64, 15]$[38, 255, -14, 15]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GFmXKsh6EeiJu4OPlhtZ3Q" id="(0.8541666666666666,0.3018867924528302)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_GFmXK8h6EeiJu4OPlhtZ3Q" id="(0.09289617486338798,0.0419665092314298)"/>
    </edges>
    <edges xmi:id="_Js3_wMh6EeiJu4OPlhtZ3Q" type="Transition" element="_Js2xoMh6EeiJu4OPlhtZ3Q" source="_RXJkkM3wEeiN44Ua76bsRA" target="_nokFQLgEEei5DIAXg44geg">
      <children xsi:type="notation:DecorationNode" xmi:id="_Js3_xMh6EeiJu4OPlhtZ3Q" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Js3_xch6EeiJu4OPlhtZ3Q"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Js3_xsh6EeiJu4OPlhtZ3Q" x="-21" y="-51"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Js3_wch6EeiJu4OPlhtZ3Q" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Js3_w8h6EeiJu4OPlhtZ3Q" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Js3_wsh6EeiJu4OPlhtZ3Q" points="[128, -12, -2, 241]$[128, -229, -2, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Js5N4Mh6EeiJu4OPlhtZ3Q" id="(0.48816029143898,0.01627906976744186)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EEdzgMh_EeicSd5svHBm6A" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_VULLUMiAEeicSd5svHBm6A" type="Transition" element="_VUIvEMiAEeicSd5svHBm6A" source="_Mupf8MiAEeicSd5svHBm6A" target="_OIOiAMiAEeicSd5svHBm6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_VULyYciAEeicSd5svHBm6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_VULyYsiAEeicSd5svHBm6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_VULyY8iAEeicSd5svHBm6A" x="-7" y="50"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_VULLUciAEeicSd5svHBm6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_VULyYMiAEeicSd5svHBm6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_VULLUsiAEeicSd5svHBm6A" points="[6, 12, 14, -142]$[6, 144, 14, -10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VUOOoMiAEeicSd5svHBm6A" id="(0.075,0.7547169811320756)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_VUOOociAEeicSd5svHBm6A" id="(0.08196721311475409,0.22641509433962267)"/>
    </edges>
    <edges xmi:id="_cmzEYMiAEeicSd5svHBm6A" type="Transition" element="_cmx2QMiAEeicSd5svHBm6A" source="_OIOiAMiAEeicSd5svHBm6A" target="_Mupf8MiAEeicSd5svHBm6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_cmzEZMiAEeicSd5svHBm6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cmzEZciAEeicSd5svHBm6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cmzEZsiAEeicSd5svHBm6A" x="-9" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cmzEYciAEeicSd5svHBm6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cmzEY8iAEeicSd5svHBm6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cmzEYsiAEeicSd5svHBm6A" points="[10, 21, -36, 178]$[41, 21, -5, 178]$[41, -141, -5, 16]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cm05kMiAEeicSd5svHBm6A" id="(0.8360655737704918,0.11320754716981134)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cm05kciAEeicSd5svHBm6A" id="(0.825,0.6792452830188679)"/>
    </edges>
    <edges xmi:id="_Xi53QMiBEeicSd5svHBm6A" type="Transition" element="_Xi4pIMiBEeicSd5svHBm6A" source="_XAHTQMiBEeicSd5svHBm6A" target="_Mupf8MiAEeicSd5svHBm6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_Xi53RMiBEeicSd5svHBm6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Xi53RciBEeicSd5svHBm6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Xi53RsiBEeicSd5svHBm6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Xi53QciBEeicSd5svHBm6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Xi53Q8iBEeicSd5svHBm6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Xi53QsiBEeicSd5svHBm6A" points="[6, 1, -58, -12]$[57, -11, -7, -24]"/>
    </edges>
    <edges xmi:id="_cEqLMMiBEeicSd5svHBm6A" type="Transition" element="_cEo9EMiBEeicSd5svHBm6A" source="_ahcsAMiBEeicSd5svHBm6A" target="_k1oqorgEEei5DIAXg44geg">
      <children xsi:type="notation:DecorationNode" xmi:id="_cEqLNMiBEeicSd5svHBm6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_cEqLNciBEeicSd5svHBm6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_cEqLNsiBEeicSd5svHBm6A" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_cEqLMciBEeicSd5svHBm6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_cEqLM8iBEeicSd5svHBm6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_cEqLMsiBEeicSd5svHBm6A" points="[-4, 6, 51, 1]$[-52, 4, 3, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_dPiC4MiBEeicSd5svHBm6A" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_cEsAYMiBEeicSd5svHBm6A" id="(0.5,0.03773584905660377)"/>
    </edges>
    <edges xmi:id="_7wKzUMiEEeicSd5svHBm6A" type="Transition" element="_7wJlMMiEEeicSd5svHBm6A" source="_OIOiAMiAEeicSd5svHBm6A" target="_Mupf8MiAEeicSd5svHBm6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_7wKzVMiEEeicSd5svHBm6A" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_7wKzVciEEeicSd5svHBm6A"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_7wKzVsiEEeicSd5svHBm6A" x="74" y="-19"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_7wKzUciEEeicSd5svHBm6A" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_7wKzU8iEEeicSd5svHBm6A" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_7wKzUsiEEeicSd5svHBm6A" points="[1, 10, -11, 24]$[-16, -5, -28, 9]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_7wMogMiEEeicSd5svHBm6A" id="(0.29508196721311475,0.7924528301886792)"/>
    </edges>
    <edges xmi:id="_iy0RkM3tEeiN44Ua76bsRA" type="Transition" element="_iyCOcM3tEeiN44Ua76bsRA" source="_d3PBAM3wEeiN44Ua76bsRA" target="_d3PBAM3wEeiN44Ua76bsRA">
      <children xsi:type="notation:DecorationNode" xmi:id="_iy2GwM3tEeiN44Ua76bsRA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iy2Gwc3tEeiN44Ua76bsRA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iy2Gws3tEeiN44Ua76bsRA" x="50" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iy0Rkc3tEeiN44Ua76bsRA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iy1fsM3tEeiN44Ua76bsRA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iy0Rks3tEeiN44Ua76bsRA" points="[11, 8, 43, -9]$[35, 8, 67, -9]$[35, 88, 67, 71]$[-20, 88, 12, 71]$[-20, 25, 12, 8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iy5xIM3tEeiN44Ua76bsRA" id="(0.8382352941176471,0.49056603773584906)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_t6voQM3tEeiN44Ua76bsRA" id="(0.3235294117647059,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_0LOu4M3tEeiN44Ua76bsRA" type="Transition" element="_0LM5sM3tEeiN44Ua76bsRA" source="_H1rbVch_EeicSd5svHBm6A" target="_H1rbVch_EeicSd5svHBm6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_0LOu5M3tEeiN44Ua76bsRA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_0LOu5c3tEeiN44Ua76bsRA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_0LOu5s3tEeiN44Ua76bsRA" x="-17" y="-23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_0LOu4c3tEeiN44Ua76bsRA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_0LOu483tEeiN44Ua76bsRA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_0LOu4s3tEeiN44Ua76bsRA" points="[15, 11, 15, 11]$[15, 78, 15, 78]$[-9, 78, -9, 78]$[-9, 11, -9, 11]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0LQkEM3tEeiN44Ua76bsRA" id="(0.45161290322580644,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_0LQkEc3tEeiN44Ua76bsRA" id="(0.45161290322580644,0.7735849056603774)"/>
    </edges>
    <edges xmi:id="_c5cjEM3wEeiN44Ua76bsRA" type="Transition" element="_c5bU8M3wEeiN44Ua76bsRA" source="_cMad8M3wEeiN44Ua76bsRA" target="_H1rbVch_EeicSd5svHBm6A">
      <children xsi:type="notation:DecorationNode" xmi:id="_c5cjFM3wEeiN44Ua76bsRA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_c5cjFc3wEeiN44Ua76bsRA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_c5cjFs3wEeiN44Ua76bsRA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_c5cjEc3wEeiN44Ua76bsRA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_c5cjE83wEeiN44Ua76bsRA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_c5cjEs3wEeiN44Ua76bsRA" points="[0, 7, 10, -108]$[-8, 110, 2, -5]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_c5eYQM3wEeiN44Ua76bsRA" id="(0.3870967741935484,0.11320754716981132)"/>
    </edges>
    <edges xmi:id="_lhIKkM3wEeiN44Ua76bsRA" type="Transition" element="_lhHjgM3wEeiN44Ua76bsRA" source="_dV_VIM3wEeiN44Ua76bsRA" target="_d3PBAM3wEeiN44Ua76bsRA">
      <children xsi:type="notation:DecorationNode" xmi:id="_lhIxoc3wEeiN44Ua76bsRA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lhIxos3wEeiN44Ua76bsRA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lhIxo83wEeiN44Ua76bsRA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lhIKkc3wEeiN44Ua76bsRA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lhIxoM3wEeiN44Ua76bsRA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lhIKks3wEeiN44Ua76bsRA" points="[3, 6, -44, -79]$[48, 64, 1, -21]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lhJ_wM3wEeiN44Ua76bsRA" id="(0.17647058823529413,0.4528301886792453)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
